/* Ethic Score UI */
.score-card {
  margin: 20px 40px;
  font-size: 100;
}

.badge-section {
  text-align: center;
  flex-wrap: wrap;
}

.badge-dot {
  height: 90px;
  width: 90px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.score-dot {
  text-align: center;
  height: 130px;
  width: 130px;
  margin-top: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.ethic-btn {
  margin: 20px;
}
